<%- include('./partials/head') %>
  <title>Index</title>
  <%- include('./partials/header') %>
  <%- include('./partials/productCart') %>
    <div class="main">
      <div class="container">
        <h1>No tienes suficientes privilegios para acceder a esta pagina</h1>
      </div>
    </div>
   
    <%- include('./partials/footer') %>