<!DOCTYPE html>
<html lang="en">
    <title>Detalle de Producto</title>
    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>
    <div class="main">
        <div class="container">
            <main>
                <span class="producto">
                    <img src="/img/img.jpg" alt="">
                    <section>
                        <p class="descripcion">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, ex dicta corporis cupiditate atque cum qui numquam alias fuga dolorem officiis enim et officia maxime esse quo exercitationem non fugiat!</p><br>
                            <label class="extras" for="checkbox1">Extra 1</label>
                            <input type="checkbox" name="extras" value="Extra 1"><br>

                            <label class="extras" for="checkbox1">Extra 2</label>
                            <input type="checkbox" name="extras" value="Extra 2"><br>

                            <label class="extras" for="checkbox1">Extra 3</label>
                            <input type="checkbox" name="extras" value="Extra 3"><br>

                            <label class="extras" for="checkbox1">Extra 4</label>
                            <input type="checkbox" name="extras" value="Extra 4"><br>
                    </section>
                </span>
                <div class="agregar">
                    <button class="boton" type ="submit">Agregar</button>
                </div>
            </main>

        </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>