<!DOCTYPE html>
<html lang="en">
    <title>Index</title>
    <%- include('./partials/head') %>

<body>
    <%- include('./partials/header') %>

    <div class="main">
        <div class="container">
            <h1>CONTENIDOS AQUI</h1>
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>