<!DOCTYPE html>
<html lang="en">
    <title>Log In</title>
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header') %>

    <div class="main">
        <div class="container">
            <form  class="registration-form" action="#" method="post">
                <h1>Iniciar Sesion</h1>
                <label for="email">Email:</label>
                <input type="text" name="email" id="email" class="form-control">
                <% if (locals.errors && errors.email) { %>
                    <div class="text-danger">
                        <%= errors.email.msg %>
                    </div>
                <% } %>

                <label for="password">Contraseña:</label>
                <input type="password" name="password" id="password" class="form-control">
                <div class="invalid-feedback"></div>    

                <div>
                    <label for="remember">Recordarme:</label>
                    <input class="remember-checkbox" type="checkbox" name="remember" id="remember"  value="remember">
                </div>

                <button type="submit">Ingresar</button>
            </form>
        </div>
    </div>
    <%- include('./partials/footer') %>
</body>
</html>