<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Burger Store</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel="shortcut icon" href="/img/burger-icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <script src="https://kit.fontawesome.com/dbf18ebcca.js" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar">
            <ul>
                <div class="brand"><a href="#"><img src="/img/burger-icon.jpg" alt=""></a></div>
                <div class="hamburger-icon"><a href="#"><i class="fa-solid fa-bars"></i></a></div>
            </ul>
            <ul id="nav-menu"  class="nav-menu">
                <li class="item"><a href="#">Home</a></li>
                <li class="item"><a href="#">Menú</a></li>
            </ul>
            <ul class="desktop-option">
                <li class="shop"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
                <li class="sign"><a href="#"><i class="fa-regular fa-user"></i></a></li>
            </ul>
        </nav>
    </header>

    <main>
        <div class="section-main">
            <div class="product">
                <div class="product-description">
                    <img src="/images/american_simple.jpg" alt="American Simple">
                    <div class="product-name">American Burger</div>
                    <div class="price">$3000</div>
                    <section>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, ex dicta corporis cupiditate atque cum qui numquam alias fuga dolorem officiis enim et officia maxime.
                    </section>
                </div>
                    <div class="add-button">
                        <button class="button" type ="submit">Agregar</button>
                    </div>
            </div>

            <div class="border"></div>

            <div class="product">
                <div class="product-description">
                    <img src="/images/american_doble.jpg" alt="American Doble">
                    <div class="product-name">American Doble</div>
                    <div class="price">$3300</div>
                    <section>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, ex dicta corporis cupiditate atque cum qui numquam alias fuga dolorem officiis enim et officia maxime.
                    </section>
                </div>
                    <div class="add-button">
                        <button class="button" type ="submit">Agregar</button>
                    </div>
            </div>

            <div class="border"></div>

            <div class="product">
                <div class="product-description">
                    <img src="/images/american_triple.jpg" alt="American Triple">
                    <div class="product-name">American Triple</div>
                    <div class="price">$3500</div>
                    <section>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, ex dicta corporis cupiditate atque cum qui numquam alias fuga dolorem officiis enim et officia maxime.
                    </section>
                </div>
                    <div class="add-button">
                        <button class="button" type ="submit">Agregar</button>
                    </div>
            </div>

            <div class="border"></div>

            <div class="product">
                <div class="product-description">
                    <img src="/images/cheeseburger_simple.jpg" alt="Cheeseburger Simple">
                    <div class="product-name">Cheeseburger</div>
                    <div class="price">$2900</div>
                    <section>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, ex dicta corporis cupiditate atque cum qui numquam alias fuga dolorem officiis enim et officia maxime.
                    </section>
                </div>
                    <div class="add-button">
                        <button class="button" type ="submit">Agregar</button>
                    </div>
            </div>

            <div class="border"></div>

            <div class="product">
                <div class="product-description">
                    <img src="/images/cheeseburger_doble.jpg" alt="Cheeseburger Doble">
                    <div class="product-name">Cheese Doble</div>
                    <div class="price">$3200</div>
                    <section>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, ex dicta corporis cupiditate atque cum qui numquam alias fuga dolorem officiis enim et officia maxime.
                    </section>
                </div>
                    <div class="add-button">
                        <button class="button" type ="submit">Agregar</button>
                    </div>
            </div>

            <div class="border"></div>

            <div class="product">
                <div class="product-description">
                    <img src="/images/cheeseburger_triple.jpg" alt="Cheeseburger Triple">
                    <div class="product-name">Cheese Triple</div>
                    <div class="price">$3400</div>
                    <section>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, ex dicta corporis cupiditate atque cum qui numquam alias fuga dolorem officiis enim et officia maxime.
                    </section>
                </div>
                    <div class="add-button">
                        <button class="button" type ="submit">Agregar</button>
                    </div>
            </div>

            <div class="border"></div>

            <div class="product">
                <div class="product-description">
                    <img src="/images/friedonion_simple.jpg" alt="Fried Onion">
                    <div class="product-name">Fried Onion</div>
                    <div class="price">$2900</div>
                    <section>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, ex dicta corporis cupiditate atque cum qui numquam alias fuga dolorem officiis enim et officia maxime.
                    </section>
                </div>
                    <div class="add-button">
                        <button class="button" type ="submit">Agregar</button>
                    </div>
            </div>

            <div class="border"></div>

            <div class="product">
                <div class="product-description">
                    <img src="/images/friedonion_doble.jpg" alt="Fried Onion Doble">
                    <div class="product-name">Fried Onion Doble</div>
                    <div class="price">$3300</div>
                    <section>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, ex dicta corporis cupiditate atque cum qui numquam alias fuga dolorem officiis enim et officia maxime.
                    </section>
                </div>
                    <div class="add-button">
                        <button class="button" type ="submit">Agregar</button>
                    </div>
            </div>

            <div class="border"></div>

            <div class="product">
                <div class="product-description">
                    <img src="/images/royal_simple.jpg" alt="Royal Burger">
                    <div class="product-name">Royal Burger</div>
                    <div class="price">$3000</div>
                    <section>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, ex dicta corporis cupiditate atque cum qui numquam alias fuga dolorem officiis enim et officia maxime.
                    </section>
                </div>
                    <div class="add-button">
                        <button class="button" type ="submit">Agregar</button>
                    </div>
            </div>

            <div class="border"></div>

            <div class="product">
                <div class="product-description">
                    <img src="/images/royal_doble.jpg" alt="Royal Doble">
                    <div class="product-name">Royal Doble</div>
                    <div class="price">$3300</div>
                    <section>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, ex dicta corporis cupiditate atque cum qui numquam alias fuga dolorem officiis enim et officia maxime.
                    </section>
                </div>
                    <div class="add-button">
                        <button class="button" type ="submit">Agregar</button>
                    </div>
            </div>

            <div class="border"></div>

            <div class="product">
                <div class="product-description">
                    <img src="/images/tastyonion_simple.jpg" alt="Tasty Onion">
                    <div class="product-name">Tasty Onion</div>
                    <div class="price">$2900</div>
                    <section>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, ex dicta corporis cupiditate atque cum qui numquam alias fuga dolorem officiis enim et officia maxime.
                    </section>
                </div>
                    <div class="add-button">
                        <button class="button" type ="submit">Agregar</button>
                    </div>
            </div>

            <div class="border"></div>

            <div class="product">
                <div class="product-description">
                    <img src="/images/tastyonion_doble.jpg" alt="Tasty Onion Doble">
                    <div class="product-name">Tasty Onion Doble</div>
                    <div class="price">$3300</div>
                    <section>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, ex dicta corporis cupiditate atque cum qui numquam alias fuga dolorem officiis enim et officia maxime.
                    </section>
                </div>
                    <div class="add-button">
                        <button class="button" type ="submit">Agregar</button>
                    </div>
            </div>

            <div class="border"></div>

            <div class="product">
                <div class="product-description">
                    <img src="/images/bigraspy.jpg" alt="Big Raspy">
                    <div class="product-name">Big Raspy</div>
                    <div class="price">$4000</div>
                    <section>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, ex dicta corporis cupiditate atque cum qui numquam alias fuga dolorem officiis enim et officia maxime.
                    </section>
                </div>
                    <div class="add-button">
                        <button class="button" type ="submit">Agregar</button>
                    </div>
            </div>

            <div class="border"></div>

            <div class="product">
                <div class="product-description">
                    <img src="/images/papas.jpg" alt="Papas">
                    <div class="product-name">Cono de Papas</div>
                    <div class="price">$500</div>
                    <section>
                        <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, ex dicta corporis cupiditate atque cum qui numquam alias fuga dolorem officiis enim et officia maxime.
                    </section>
                </div>
                    <div class="add-button">
                        <button class="button" type ="submit">Agregar</button>
                    </div>
            </div>


    </main>

    <footer class="footer-style">
        <div class="footer-menu">
            <ul>
                <span class="text-brand">Burger Store</span>
            </ul>
            <ul>
                Escribinos a: <a href="#">Contact@burgerStore.com</a>
            </ul>
            <ul>
                Direccion: Richieri 549
            </ul>
            <ul class="social-media-navbar">
                <li><a href="#"><i class="fa-brands fa-x-twitter"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="#"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>
</body>
</html>