<!DOCTYPE html>
<html lang="en">
    <title>Product Detail</title>
    <%- include('./partials/head') %>
<body>
    <%- include('./partials/header',{user: undefined}) %>
<h1>Lista de producto</h1>

<%- include('./partials/footer') %>
</body>
</html>