:root{
    --main-colour: #F3AD2B;
    --black-mate: #333;
    --gray-border: #d2d2d7;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--black-mate);
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    /* Roboto 400 700 900 */
}
html{
    font-size: 16px; /*Para usar rem o en*/
}
header {
    z-index: 999;
    width: 100%;
    height: 75px;
    background-color: black;
}
nav{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
nav ul{
    align-items: center;
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
}
a{
    text-decoration: none;
    color: white;
}

/*Navbar*/
.brand img{
    width: 45px;
}
.hamburger-icon i, .sign i, .shop i, .mobile-brand i{
    color:white;
    font-size: 22px;
}
.hamburger-icon i:hover, .sign i:hover,
.shop i:hover, .mobile-brand i:hover, .registration-form h1{
    color:var(--main-colour);
}
.navbar{
    justify-content: space-between;
    padding: 0 25px;
}
.nav-menu{
    display: none;
}
div.brand, li.shop{
    margin-right: 15px;
}
.navbar .hamburger-icon{
    display: flex;
}

/*Register*/
.main{
    display: flex;
    flex-direction: column;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: auto;
    width: 100%;
}
.container form{
    display: flex;
    flex-direction: column;
    align-items: start;
}
.container form label, .container form input{
    margin-bottom: 10px;
}

/*form*/
.registration-form{
    width: 70%;
}
.registration-form input{
    border-radius: 5px;
    border: 1px solid var(--gray-border);
    height: 36px;
    width: 100%;
}
.registration-form label{
    font-size: 16px;
    font-weight: 400;
    color: #333;
}
.registration-form h1{
    font-size: 48px;
    text-align: center;
    width: 100%;
    font-weight: 900;
}
.registration-form button{
    height: 42px;
    width: 100%;
    background-color: var(--main-colour);
    text-transform: uppercase;
    color: white;
    border: none;
    margin: 20px 0;
}
.registration-form button:hover{
    background-color: white;
    color: var(--main-colour); 
    border: solid 1px var(--gray-border);
}

/*Footer*/
.footer-style{
    margin-top: 70px;
    background-color: var(--main-colour);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 18px;
    font-weight: 400;  
}
.text-brand{
    font-size: 52px;
    font-weight: 900;
    text-align: center;
    color: black;
}
.footer-menu ul{
    text-align: center;
    color: white;
    margin: 15px 0;
}
.social-media-navbar i{
    color: white;
    font-size: 32px;
    margin: 0 15px;
}
.social-media-navbar i:hover{
    color: var(--black-mate);
}
@media (min-width: 768px) {  
    .registration-form{
        width: 520px;
    }
    .brand img{
        width: 60px;
    }
    .hamburger-icon i, .sign i, .shop i, .mobile-brand i,.item{
        font-size: 28px;
    }
    .navbar .hamburger-icon{
        display: none;
    }
    .nav-menu{
        display: flex;
    }
    .navbar .item a{
        margin: 0 15px;
        padding: 0 10px;
        background-color: var(--main-colour);
    }
    .navbar .item a:hover{
        background-color: white;
        color: var(--main-colour);
    }
    .navbar{
        max-width: 1200px;
        margin: auto;
    }

    /*Register*/
    .registration-form h1{
        font-size: 58px;
    }
    .registration-form button{
        margin: 52px 0;
    }

    /*Fotter*/
    .footer-style .footer-menu{
        width: 100%;
        display: flex;
        justify-content:space-around;
    }
    .footer-style ul{
        max-width: 200px; 
        flex-wrap: wrap;
    }
    .footer-style span{
        max-width: 160px;
    }
}