<ul class="main-menu">
    <li class="item_main-menu"><a href="/user/profile/">My profile</a></li>
    <li class="item_main-menu"><a href="/product/">Products list</a></li>
    <li class="item_main-menu"><a href="/user/">Users list</a></li>
    <li class="item_main-menu"><a href="/user/logout">log out</a></li>
</ul>