<div class="cart-container">
    <div class="top">
        <p class="miPedido"> Mi pedido </p>
        <a class="cerrar" href="#"> Cerrar </a>
    </div>

    <div class="pedido">
        <img src="/img/products/cheeseburger_triple.jpg" alt="Cheeseburger Triple">
        <div class="center">
            <p class="descripcion">Lorem ipsum, dolor sit amet consectetur </p>
            <div class="descyagregar">
                <button class="menos" type="button"><i class="fa-solid fa-minus"></i></button>
                <input class="sumaresta" type="text">
                <button class="mas" type="button"><i class="fa-regular fa-plus"></i></button>
            </div>
        </div>
        <div class="elPrecio">
            <button class="quitar" type="reset"><i class="fa-solid fa-trash"></i> </button>
            <p class="precio"> $0</p>
        </div>
    </div>

    <div class="totales">
        <div class="sub">
            <p class="subtotal"> Subtotal </p>
            <p precio2>$0</p>
        </div>
        <div class="tot">
            <p class="total">Total</p>
            <p class="precio3">$0</p>
        </div>
    </div>

    <div class="comentarios">
        <p> Comentarios</p>
        <textarea name="espacio" id="espacio" cols="20" rows="6"></textarea>
    </div>

    <div class="bottom">
        <a class="agregar" href="#"> Agregar </a>
        <button type="button" class="confirmar"> CONFIRMAR PEDIDO</button>
    </div>
</div>