<header>
    <nav class="navbar">
        <ul>
            <div class="brand"><a href="#"><img src="/img/burger-icon.jpg" alt=""></a></div>
            <div class="hamburger-icon"><a href="#"><i class="fa-solid fa-bars"></i></a></div>
        </ul>
        <ul id="nav-menu"  class="nav-menu">
            <li class="item"><a href="#">Home</a></li>
            <li class="item"><a href="#">Menú</a></li>
        </ul>
        <ul class="desktop-option">
            <li class="shop"><a href="#"><i class="fa-solid fa-cart-shopping"></i></a></li>
            <li class="sign"><a href="#"><i class="fa-regular fa-user"></i></a></li>
        </ul>
    </nav>
</header>