<header>
  <nav class="navbar">
    <div class="brand">
      <a href="/"><img src="/img/logo nuevo2.png" alt="" /></a>
    </div>
    <ul id="nav-menu" class="nav-menu">
      <li class="item"><a href="/home">Home</a></li>
      <li class="item"><a href="/">Menú</a></li>
    </ul>
    <ul class="desktop-option">
      <li class="shop">
        <a href="#"><i class="fa-solid fa-cart-shopping"></i></a>
      </li>
      <li class="sign">
        <% if(!locals.isLogged){ %>
          <a href="/userProfile"><i class="fa-regular fa-user"></i></a>
          <%} else { %>
            <span class="login-name"><%= locals.userLogged.name %></span>
            <a class="login-avatar" href="/userProfile"><img src="/img/users/<%= locals.userLogged.image %>"></a>
          <%}%>
      </li>
      <li class="hamburger-icon">
        <a href="#"><i class="fa-solid fa-bars"></i></a>
      </li>
    </ul>
  </nav>
</header>