<div class="detailsContainer hide">
<main class="detailsContent">
    <div class="detailsProductHead">
        <i class="fa-solid fa-xmark"></i>
        <h1 class="second-title">Detalle del Producto</h1>
    </div>
    
    <span class="producto">
        <figure>
            <img class="img-details" src="/img/products/1695687360426_product.jpg" alt="">
            <figcaption>
                <span class="hide">hamburger-img</span>
            </figcaption>
        </figure>
        <section >
            <class class="product-description">
                <div class="product-name">American Burger Simple</div>
                <p class="description">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Id, ex dicta corporis cupiditate atque cum qui numquam alias fuga dolorem officiis enim et officia maxime esse quo exercitationem non fugiat!</p>
            </class> 
            <form action="#" method="post">   
                <div class="item">
                    <input type="checkbox" name="extras" value="Extra 1"><br>
                    <label class="extras" for="checkbox1">Extra Sabor</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="extras" value="Extra 2"><br>
                    <label class="extras" for="checkbox1">Extra Sabor</label>
                </div>
                <div class="item">
                    <input type="checkbox" name="extras" value="Extra 3"><br>
                    <label class="extras" for="checkbox1">Extra Sabor</label>                
                </div>
                <div class="item">
                    <input type="checkbox" name="extras" value="Extra 4"><br>
                    <label class="extras" for="checkbox1">Extra Sabor</label>
                </div>
            </form> 
        </section>
    </span>
    <div class="add-button">
        <a href="/detalle"><button class="button" type ="submit">  Agregar  </button> </a>
    </div>
</main>
</div>